body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, "Meiryo UI";
    margin-left:5%;
}

a:visited {
    color:blue;
}

.center {
    margin:auto;
    text-align:center;
}

@media screen and (min-width:1024px) {
    body {
        width:70%;
        margin:auto;
    }
}

@media screen and (max-width:1024px) {
   img#logo {
       width:125px;
       height:125px;
   }
   body {
       font-size:0.6em;
   }
   h3 {
       font-size:1.0em;
   }
}


input#wikiurl_text {
    width:80%;
}

button#tweet {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 25px;
    background-color: gray;
    color: white;
    border-style: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

input#copy_text {
    width:70%;
}